body {
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
}

table {
  margin: 50px auto;
}

table td {
  text-align: center;
}

table thead td {
  text-transform: uppercase;
}

.table-container {
  box-sizing: border-box;
  padding: 0rem 5rem;
  position: relative;
}

div {
  display: block;
}

.titulo {
  margin-top: 10px;
}

main {
  width: 100%;
}

.logout {
  position: absolute;
  right: 15px;
  top: 15px;
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 20px;
  padding-top: 10px;
  text-align: center;
  width: 120px;
  height: 45px;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px 1px gray;
}

.logout:hover {
  color: black;
  background-color: white;
  box-shadow: 3px 3px 3px 3px wheat;
}

hr.rounded {
  border-top: 8px solid purple;
  border-radius: 5px;
}
